.bd-page-width {
  max-width: none !important;
}

.bd-main .bd-content {
  max-width: none !important;
}

.bd-content .bd-article-container > div {
  max-width: none !important;
  width: 100% !important;
}